.container {
  padding: 16px;
  box-sizing: border-box;
  width: 350px;
  margin: auto;
}

.divider {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.helper {
  font-size: 12px;
  line-height: 14px;
  color: red;
}

.email-input,
.pswd-input,
.pswd-repeat-input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

.email-input:focus,
.pswd-input:focus,
.pswd-repeat-input:focus {
  background-color: #ddd;
  outline: none;
}

.signup-btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup-btn:hover {
  opacity: 1;
}

.signup-btn:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}
